//! **************************************************************************
// Written by: Map P.20131013 on Thu Oct 09 19:01:12 2014
//! **************************************************************************

SCHEMATIC START;
COMP "and_or_sel_M" LOCATE = SITE "P12" LEVEL 1;
COMP "stop_data_in" LOCATE = SITE "P69" LEVEL 1;
COMP "out_heartbeat" LOCATE = SITE "P6" LEVEL 1;
COMP "diff_select_SST" LOCATE = SITE "P71" LEVEL 1;
COMP "clk" LOCATE = SITE "P55" LEVEL 1;
PIN clk_pin<0> = BEL "clk" PINNAME PAD;
PIN "clk_pin<0>" CLOCK_DEDICATED_ROUTE = FALSE;
COMP "force_tri" LOCATE = SITE "P11" LEVEL 1;
COMP "re" LOCATE = SITE "P33" LEVEL 1;
COMP "di_ch0" LOCATE = SITE "P44" LEVEL 1;
COMP "di_ch1" LOCATE = SITE "P46" LEVEL 1;
COMP "di_ch2" LOCATE = SITE "P48" LEVEL 1;
COMP "di_ch3" LOCATE = SITE "P50" LEVEL 1;
COMP "in_heartbeat" LOCATE = SITE "P28" LEVEL 1;
PIN in_heartbeat_pin<0> = BEL "in_heartbeat" PINNAME PAD;
PIN "in_heartbeat_pin<0>" CLOCK_DEDICATED_ROUTE = FALSE;
COMP "ex_tri" LOCATE = SITE "P35" LEVEL 1;
COMP "stop_SST" LOCATE = SITE "P64" LEVEL 1;
COMP "SPI_MISO" LOCATE = SITE "P4" LEVEL 1;
COMP "HSCLK_Ctrl" LOCATE = SITE "P54" LEVEL 1;
COMP "reset_SST" LOCATE = SITE "P63" LEVEL 1;
COMP "SPI_SCLK" LOCATE = SITE "P5" LEVEL 1;
COMP "CS_n" LOCATE = SITE "P57" LEVEL 1;
COMP "diff_select_M" LOCATE = SITE "P10" LEVEL 1;
COMP "enable_thermal_tri" LOCATE = SITE "P13" LEVEL 1;
COMP "and_or_sel_SST" LOCATE = SITE "P72" LEVEL 1;
COMP "SST_read_clk" LOCATE = SITE "P70" LEVEL 1;
COMP "trig_0H" LOCATE = SITE "P85" LEVEL 1;
COMP "trig_1H" LOCATE = SITE "P83" LEVEL 1;
COMP "trig_2H" LOCATE = SITE "P78" LEVEL 1;
COMP "trig_0L" LOCATE = SITE "P84" LEVEL 1;
COMP "trig_3H" LOCATE = SITE "P76" LEVEL 1;
COMP "trig_1L" LOCATE = SITE "P82" LEVEL 1;
COMP "trig_2L" LOCATE = SITE "P77" LEVEL 1;
COMP "full" LOCATE = SITE "P18" LEVEL 1;
COMP "mbed_sel0" LOCATE = SITE "P30" LEVEL 1;
COMP "trig_3L" LOCATE = SITE "P75" LEVEL 1;
COMP "rst" LOCATE = SITE "P15" LEVEL 1;
COMP "mbed_sel1" LOCATE = SITE "P32" LEVEL 1;
COMP "ADC_clk" LOCATE = SITE "P58" LEVEL 1;
PIN XLXI_2/DCM_SP_INST_pin<10> = BEL "XLXI_2/DCM_SP_INST" PINNAME CLKIN;
PIN "XLXI_2/DCM_SP_INST_pin<10>" CLOCK_DEDICATED_ROUTE = FALSE;
SCHEMATIC END;

